*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    color: #ffffff;
}
.navbar{
    background-color: #35477d;
    max-width: 100%;
    height: 12vh;
}
.show-date{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.date-heading{
    text-align: center;
    padding: 8px 0;
}
.date{
    padding: 0 7px;
}